<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/e7599286a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/articulos.css">
    <title>Inicio</title>
</head>
<body>
    <!--Menu y encabezado -->
        <header>
            <div class="header-content">
                <div class="logo">
                    <h1>Jessy <b>Araiza</b></h1>
                </div>
                <div class="menu" id="show-menu">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
                            <li><a href="#"> <i class="fa-solid fa-flask"></i> Experiencia</a></li>
                            <li class="menu-selected"><a href="#" class="text-menu-selected"> <i class="fa-solid fa-user"></i>Blog</a></li>
                            <li><a href="#"> <i class="fa-solid fa-image"></i> Imagenes</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <div class="container-all" id="move-content">

        
            <!--Portada-->
            <div class="article-container-cover">
                <div class="container-info-cover">
                    <h1>¡Si lo puedes imaguinar!</h1>
                    <p>Lo puedes creaer con ayuda de la programacion</p>
                </div>

            </div>
            <div class="container-content">
                <article>
                    <h1>Titulo del articulo</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolor, omnis saepe illo numquam sapiente,
                        atque autem provident commodi, minus veritatis quidem tempora repudiandae at voluptates tempore ab perferendis doloribus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque earum facilis excepturi modi! Possimus, facilis quod dignissimos doloribus fugiat omnis facere reiciendis recusandae ut numquam! Voluptate magnam deserunt voluptas error.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati adipisci, libero reiciendis labore laudantium officia similique tenetur, cupiditate quia deserunt dolores. Necessitatibus reiciendis placeat nulla nihil! Fugiat tempore ipsam doloribus!</p>

                    <h2>Sub titulño</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia et rerum iste, doloribus similique fugit asperiores aperiam modi aliquam, impedit distinctio nisi rem ducimus repellat pariatur molestias tempora consequuntur ad.</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure assumenda sed, laborum maxime aut nam, pariatur molestiae impedit officia totam eos veniam nisi dolorum nobis dolor praesentium ipsa consequatur obcaecati. 
                    </p>
                <img src="../img/Logo.png" alt="Gato">
                </article>
            
                <div class="container-aside">
                    <aside>
                        <img src="../img/MyBro.jpg" alt="">
                        <h2>Titulo del articulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam culpa fuga ab, rerum voluptates unde sint incidunt quo corporis, neque error excepturi! Ullam molestias modi non eos dolores nesciunt!</p>
                        <a href="#"><button>Leer Mas</button></a>
                    </aside>
                    <aside>
                        <img src="../img/MyBro.jpg" alt="">
                        <h2>Titulo del articulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam culpa fuga ab, rerum voluptates unde sint incidunt quo corporis, neque error excepturi! Ullam molestias modi non eos dolores nesciunt!</p>
                        <a href="#"><button>Leer Mas</button></a>
                    </aside>
                    <aside>
                        <img src="../img/MyBro.jpg" alt="">
                        <h2>Titulo del articulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam culpa fuga ab, rerum voluptates unde sint incidunt quo corporis, neque error excepturi! Ullam molestias modi non eos dolores nesciunt!</p>
                        <a href="#"><button>Leer Mas</button></a>
                    </aside>
                </div>
            </div>
            <div class="container-footer">

                <footer>
                    <div class="logo-footer">
                        <img src="../img/gato.ico" alt="">
                    </div>
                    <div class="redes-footer">
                        <a href="#"><i class="fa-brands fa-facebook icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-tiktok icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter icon-redes-footer"></i></a>
                    </div>
                    <hr>
                    <h4>@ 2024 JJACIndustris - Todos los derechor reservados </h4>
                </footer>
            </div>
         </div>
        <script src="../js/script.js"></script>
</body>
</html>