<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/e7599286a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/blog.css">
    <title>BLog</title>
</head>
<body>
    <!--Menu y encabezado -->
        <header>
            <div class="header-content">
                <div class="logo">
                    <h1>Jessy <b>Araiza</b></h1>
                </div>
                <div class="menu" id="show-menu">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
                            <li><a href="#"> <i class="fa-solid fa-flask"></i> Experiencia</a></li>
                            <li class="menu-selected"><a href="#" class="text-menu-selected"> <i class="fa-solid fa-user"></i>Blog</a></li>
                            <li><a href="#"> <i class="fa-solid fa-image"></i> Imagenes</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <div class="container-all" id="move-content">

        
            <!--Portada-->
            <div class="blog-container-cover">
                <div class="container-info-cover">
                    <h1>Puedes seleccionar el proyecto de  tu interes</h1>
                    <p>Aqui puedes encintrar algunos de nuestros proyectos realizados </p>
                </div>
            </div>

            <!--Publicaciones -->
            <div class="container-post"><!--Contenedor de publicaciones-->

                <input type="radio" id="TODOS" name="categories" value="TODOS">
                <input type="radio" id="PANTALLAS" name="categories" value="PANTALLAS">
                <input type="radio" id="BATERIAS" name="categories" value="BATERIAS">
                <input type="radio" id="MICROSOLDADURA" name="categories" value="MICROSOLDADURA">
                <input type="radio" id="REBALING" name="categories" value="REBALING">
                <input type="radio" id="OTROS1" name="categories" value="OTROS1">
                <input type="radio" id="OTROS2" name="categories" value="OTROS2">
                
                <div class="container-category">
                    <label for="TODOS">TODOS</label>
                    <label for="PANTALLAS">PANTALLAS</label>
                    <label for="BATERIAS">BATERIAS</label>
                    <label for="MICROSOLDADURA">MICROSOLDADURA</label>
                    <label for="REBALING">REBALING</label>
                    <label for="OTROS1">OTROS1</label>
                    <label for="OTROS2">OTROS2</label>
                </div>

                <div class="posts"> <!--Posts en español es publicaciones-->

                    <div class="post" data-category="TODOS">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="PANTALLAS">

                        <div class="ctn-img">

                            <img src="../img/MyBro.jpg" alt="I15">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="BATERIAS">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="MICROSOLDADURA">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="REBALING">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="OTROS1">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    <div class="post" data-category="OTROS2">

                        <div class="ctn-img">

                            <img src="../img/S23.jpg" alt="S23">
                        </div>

                        <h2>Samsung S23</h2>
                        <span>15 Enero 2024 - Cambio de pantalla</span>

                        <ul class="ctn-tag">
                            <li>CSS</li>
                            <li>HTML</li>
                        </ul>

                        <a href="#"><button>Leer Más</button></a>

                    </div>
                    
                </div>
            </div>
            
            
        
            <div class="container-footer">

                <footer>
                    <div class="logo-footer">
                        <img src="../img/gato.ico" alt="">
                    </div>
                    <div class="redes-footer">
                        <a href="#"><i class="fa-brands fa-facebook icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-tiktok icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter icon-redes-footer"></i></a>
                    </div>
                    <hr>
                    <h4>@ 2024 JJACIndustris - Todos los derechor reservados </h4>
                </footer>
            </div>
         </div>
        <script src="../js/script.js"></script>
</body>
</html>