<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/e7599286a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/blog.css">
    <title>BLog</title>
</head>
<body>
    <!--Menu y encabezado -->
        <header>
            <div class="header-content">
                <div class="logo">
                    <h1>Jessy <b>Araiza</b></h1>
                </div>
                <div class="menu" id="show-menu">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
                            <li><a href="#"> <i class="fa-solid fa-flask"></i> Experiencia</a></li>
                            <li class="menu-selected"><a href="#" class="text-menu-selected"> <i class="fa-solid fa-user"></i>Blog</a></li>
                            <li><a href="#"> <i class="fa-solid fa-image"></i> Imagenes</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <div class="container-all" id="move-content">

        
            <!--Portada-->
            <div class="blog-container-cover">
                <div class="container-info-cover">
                    <h1>JJAC</h1>
                    <p>Yo soy jessy Araiza</p>
                </div>
            </div>
            
        
            <div class="container-footer">

                <footer>
                    <div class="logo-footer">
                        <img src="../img/gato.ico" alt="">
                    </div>
                    <div class="redes-footer">
                        <a href="#"><i class="fa-brands fa-facebook icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-tiktok icon-redes-footer"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter icon-redes-footer"></i></a>
                    </div>
                    <hr>
                    <h4>@ 2024 JJACIndustris - Todos los derechor reservados </h4>
                </footer>
            </div>
         </div>
        <script src="../js/script.js"></script>
</body>
</html>